body {
    background-color: #181719;
    color: #fff;
}

.site-container {
    position: relative;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}

.icon {
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: center;
}

@media(min-width: 720px) {
    .site-container {
        max-width: 1240px;
    }
}