body {
    background-color: #181719;
    color: #fff;
    position: relative;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}

.icon {
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: center;
}

