.header-site {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-site__heading a {
color: #fff;
text-transform: uppercase;
}

.header-site__heading {
    font-family: 'Crimson Pro', serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: 16px;
    text-align: left;
    border: 1px solid #fff;
    padding: 5px;
    width: 86px;
}

.menu-icon {
    background-image: image('menu.svg');
}

label {
    width: 28.5px;
    height: 19px;
    display: block;
  }

  @media(min-width: 720px) {
    label {
        display: none;
    }
  }