.header-site__menu {
    padding: 1rem;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform 0.3s;
    
    .close {
        background-image: image('x.svg');
        position: absolute;
        top: 3%;
        left: 60%;
    }

    ul {
        width: 100vw;
        height: 100vh;
        background-color: #181719;
        padding: 3rem;
        a {
            color: #fff;
            font-family: 'Montserrat', Arial;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
        }
        li {
            padding: 1rem 2rem;
        }
    }
}

.site-container > [type="checkbox"]:checked ~ header nav {
    transform: translateX(0%);
    z-index: 2;
    top: 0;
    left: 0;
  }

  #checkbox-menu {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
 }