body {
  background-color: #181719;
  color: #fff; }

.site-container {
  position: relative; }

a {
  text-decoration: none; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

.icon {
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: center; }

.header-site {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header-site__heading a {
  color: #fff;
  text-transform: uppercase; }

.header-site__heading {
  font-family: 'Crimson Pro', serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  border: 1px solid #fff;
  padding: 5px;
  width: 103px; }

.menu-icon {
  background-image: url("../icons/menu.svg"); }

label {
  width: 28.5px;
  height: 19px;
  display: block; }

.header-site__menu {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: transform 0.3s; }
  .header-site__menu .close {
    background-image: url("../icons/x.svg");
    background-size: 23px;
    position: absolute;
    top: 1%;
    left: 60%; }
  .header-site__menu ul {
    width: 100vw;
    height: 100vh;
    background-color: #181719;
    padding: 3rem; }
    .header-site__menu ul a {
      color: #fff;
      font-family: 'Montserrat', Arial;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left; }
    .header-site__menu ul li {
      padding: 1rem 2rem; }

.site-container > [type="checkbox"]:checked ~ header nav {
  transform: translateX(0%);
  z-index: 2;
  top: 0;
  left: 0; }

#checkbox-menu {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden; }

main {
  margin-bottom: 132px; }

.main-header__heading {
  font-family: 'Lora';
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left; }

.main__content--introduction {
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 250px; }

.arrow-icon {
  background-image: url("../icons/arrow.svg");
  background-position: right;
  background-size: 19px;
  padding-right: 2rem;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left; }

.main__content--img {
  max-width: 392px;
  margin: 0;
  position: relative; }

.interior-design {
  width: 100%; }

.about-the-designer {
  max-width: 300px;
  position: absolute;
  padding: 1rem;
  top: 85%;
  left: 10%;
  background-color: #181719;
  box-shadow: 0px 4px 4px 0px #000000; }
  .about-the-designer .div-flex {
    display: flex;
    gap: 1rem; }
  .about-the-designer p {
    margin-bottom: 0;
    font-family: 'Montserrat';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left; }

.designer--picture {
  width: 62px;
  border-radius: 50%; }

small {
  font-family: 'Montserrat';
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  color: #828282; }

.img-caption {
  font-family: 'Lora',serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  max-width: 210px; }

.a11y {
  display: none;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; }

.footer-site {
  display: flex;
  justify-content: center; }
  .footer-site div {
    width: 261px;
    border-top: 1px solid #fff; }
    .footer-site div p {
      font-family: 'Montserrat';
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: center;
      color: #A9A9A9; }
